.footer {
  align-items: center;
  box-shadow: 0 -6px 4px -4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  height: 3rem;
}

.footer > a,
.footer > span {
  color: #333333;
  margin-left: 1rem;
  text-decoration: none;
}

.footer a:first-child {
  margin-left: 0;
}
